.breakout.breakout.breakout {
  // Got this from the old system
  width: 300px;

  @screen sm {
    max-width: 100% !important;
    width: 100% !important;

    > * {
      max-width: 100% !important;
      width: 100% !important;
    }
  }

  // Apply padding to direct children
  > * {
    @apply px-5;
  }

  // negate padding to direct media children
  > a,
  > a img,
  > img,
  > iframe {
    @apply p-0;

    // Nagate bottom border radius when there is content below it
    &:first-child {
      @apply rounded-b-none;
    }
  }

  img {
    @apply min-sm:ml-0 min-sm:mt-0 min-sm:mr-0 min-sm:mb-0;
  }

  &.right.right.right {
    @apply float-right min-sm:mb-4 min-sm:ml-4
      sm:float-none;
  }

  &.left {
    @apply float-left min-sm:mb-4 min-sm:mr-4
      sm:float-none;
  }
}

.clear {
  clear: both;
}
