.breakout.breakout.breakout {
  // Got this from the old system
  width: 300px;

  @apply px-6;

  img {
    @apply min-sm:ml-0 min-sm:mt-0 min-sm:mr-0 min-sm:mb-0;
  }

  &.right {
    @apply float-right min-sm:mb-4 min-sm:ml-4
      sm:float-none;
  }

  &.left {
    @apply float-left min-sm:mb-4 min-sm:mr-4
      sm:float-none;
  }
}
