.links-container {
  @apply col-start-3 col-end-4 row-start-2 row-end-3 py-6;

  .supernav {
    @apply flex justify-between font-semibold
      lg:text-xs
      md:hidden;

    .item-without-children {
      @apply mr-2 cursor-pointer px-2 py-1;
    }

    .item-with-children {
      @apply mr-2 cursor-pointer px-2 py-1 flex items-center;

      .dropdown-arrow {
        @apply w-4 h-4 text-red-600 ml-2;
      }

      .children-container {
        @apply hidden;
      }
    }

    // The Actuall render
    .children-container {
      @apply py-6 px-10 shadow-2xl bg-white rounded-lg w-auto;

      .header {
        @apply font-bold mb-2 hover:underline uppercase cursor-pointer inline-block;
      }

      &.simple {
        .header {
          @apply mb-4 inline-block;
        }
      }

      &.columned {
        $column-gap: theme("spacing.12");

        columns: 3;
        column-gap: $column-gap;

        @screen lg {
          columns: 2;
        }

        overflow: hidden; /* Fix for firefox and IE 10-11  */
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        break-inside: avoid-column;

        a {
          @apply cursor-pointer;
        }

        ul,
        li {
          overflow: hidden; /* Fix for firefox and IE 10-11  */
          -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
          break-inside: avoid; /* IE 10+ */
          break-inside: avoid-column;
        }

        .submenu {
          @apply pl-4 text-sm mb-4;

          li {
            @apply mb-1 font-light hover:underline;
          }
        }
      }
    }

    li {
      margin-right: theme("spacing.2");
    }
  }

  .menu-container {
    @apply hidden justify-end
      md:flex;
  }
}
