<div id="content_helper" style="display: none"></div>
<h1>Bowing &amp; Buckling Foundation Walls In Greater Green Bay</h1>
<h2 class="byline">
  Identifying &amp; repairing issues related to foundation wall failure
</h2>
<div class="border right breakout bg clear">
  <a
    class="lightbox"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/wall-anchor-retaining-wall-lg.jpg"
    ><img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/wall-anchor-retaining-wall-thm.jpg"
      alt="Diagram of a repaired foundation wall"
      width="300"
      height="214"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/wall-anchor-retaining-wall-lg.jpg"
  /></a>
  <p>
    Wall anchors can repair many bowing wall problems, including those that
    cause cracks, inward bulging and sliding.
  </p>
</div>
<p>
  If your foundation walls are bowing, buckling or are showing signs of inward
  movement, repair work is a necessity. These symptoms are a sign of weakening
  walls and potentially serious damage.
</p>
<p>
  If you've noticed these problems in your home, Sure-Dry Basement Systems can
  provide you with a permanent solution. We handle all types of foundation
  repair problems in Green Bay, Appleton, Oshkosh and the nearby areas, and we
  can solve your problem. Call us today to get a free estimate!
</p>
<div class="center">
  <a
    class="button large"
    href="https://www.suredrybasements.com/free-estimate.html"
    >Get a FREE Quote!</a
  >
</div>
<h2 class="clear">Signs of bowing foundation walls</h2>
<p>
  Foundation walls move inward primarily due to expansive soils and
  <span
    class="tip"
    title="In this case, the pressure exerted against your foundation from water in foundation soils."
    >hydrostatic pressure</span
  >
  on the walls from outside. However, foundation walls may also crack due to
  many other outside causes, including foundation settlement. Our foundation
  experts will accurately identify the cause of your home's foundation problems.
</p>
<div class="left" style="width: 400px">
  <ul class="arrows">
    <li>Horizontal or stair-step cracking along the foundation walls</li>
    <li>Diagonal cracking at corners of poured concrete foundation walls</li>
    <li>Inward bowing or bulging along the walls</li>
    <li>Walls sliding inwards on the bottom</li>
  </ul>
</div>
<div class="left" style="width: 400px">
  <ul class="arrows">
    <li>Walls leaning in at the top</li>
    <li>Wet, clay soils around the home coupled with damaged walls</li>
    <li>Expansive clay soils present around the structure</li>
  </ul>
</div>
<p class="clear">
  Below are images of several foundations that are showing damage from
  hydrostatic pressure and expansive soils outside the structure.
</p>
<p>
  <span class="left" style="font-size: 10px; line-height: 12px"
    >(Click each photo to enlarge.)</span
  >
</p>
<div class="clear center">
  <a
    class="lightbox"
    title="A cracked foundation wall"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-crack-window-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-crack-window-thm.jpg"
      alt="A cracked foundation wall near a window in a Waupaca home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-crack-window-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="A foundation wall separating from the floor"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-sheet-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-sheet-thm.jpg"
      alt="Foundation wall separating from the floor in Mosinee home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-sheet-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Buckling Foundation Wall"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-crack-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-crack-thm.jpg"
      alt="A buckling foundation wall in a Two Rivers home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-crack-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Rusted i-beam supports installed in a basement"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-wall-supports-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-wall-supports-thm.jpg"
      alt="Rusted, corroded i-beams found with a failing foundation in a Shawano home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-wall-supports-lg.jpg"
  /></a>
  <br />
  <a
    class="lightbox"
    title="A Stair-Step Foundation Crack"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-block-foundation-wall-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-block-foundation-wall-thm.jpg"
      alt="A diagonal stair-step crack found along a foundation wall in a Sturgeon Bay home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/failing-block-foundation-wall-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="A Diagonal Stair-Step Corner Crack"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/diagonal-wall-crack-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/diagonal-wall-crack-thm.jpg"
      alt="A diagonal stair step crack along the foundation wall of a Merrill home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/diagonal-wall-crack-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Severe Wall Buckling"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-basement-windows-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-basement-windows-thm.jpg"
      alt="A foundation showing severe inward buckling along the windows in a Rhinelander home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/buckling-wall-basement-windows-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="A Long Horizontal Crack Along A Foundation Wall"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-middle-lg.jpg"
    rel="bowing"
    ><img
      class="border"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-middle-thm.jpg"
      alt="Severe foundation damage from a long crack in a bucking wall of a Kaukauna home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/bowing-wall-middle-lg.jpg"
  /></a>
</div>
<h2 class="clear">How we can fix it:</h2>
<p>
  Install Sure-Dry Basement Systems's Geo-Lock™ Wall Anchors along the bowing
  walls, and use the system's clamping pressure to stabilize and restore the
  wall. When space issues prohibit wall anchor installation, we recommend
  installing the PowerBrace™ Wall System, EverBrace™ Wall Restoration System, or
  CarbonArmor® Wall Reinforcing System.
</p>
<p>
  Soil anchors are placed in the ground outside the home. Steel rods attached to
  soil anchors extend through the foundation wall and wall plates. Wall plates
  distribute clamping pressure. Tightening nuts on the threaded ends of the rods
  stabilizes the wall for a permanent solution.
</p>
<h2>What causes cracked &amp; bowing foundation walls?</h2>
<div class="border left breakout bg clear">
  <a
    class="lightbox"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/dry-wet-clay-lg.jpg"
    ><img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/dry-wet-clay-thm.jpg"
      alt="wet and dry clay soil samples, with the dry one shrunken and cracked"
      width="300"
      height="214"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/dry-wet-clay-lg.jpg"
  /></a>
  <p>
    These two clay samples started out exactly the same in size, weight, and
    composition. The sample on the right was allowed to dry out, while the one
    on the left we kept moist.
  </p>
  <p>
    If a small sample of clay can gain this much volume when it gets wet, just
    imagine how dramatic the changes are in the soil around your home!
  </p>
</div>
<p>
  The soils around your home can put enormous pressure on foundation walls. The
  amount of pressure they exert depends on four factors:
</p>
<ol>
  <li class="sub1">The type of soil around the foundation</li>
  <li class="sub2">The amount of moisture in the soil</li>
  <li class="sub3">How far underground the foundation is</li>
  <li class="sub4">The temperature conditions</li>
</ol>
<p>
  There's constant pressure on your foundation walls from the outside, but the
  only thing holding up your foundation wall is the wall itself. Hydrostatic
  pressure, expansive clay soil, and frost can all exert enough pressure to
  cause walls to lean or even collapse.
</p>
<p>
  Gutters and downspouts can also contribute significantly to
  <a
    href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems/foundation-walls.html"
    >foundation wall problems</a
  >
  by allowing large volumes of water to collect in the soil around your
  structure.
</p>
<p>
  If roof runoff is not directed away from your foundation, the soil around the
  foundation will become heavier and more expansive as it's saturated with
  water.
</p>
<h2 class="clear">Installing foundation wall anchors</h2>
<p>
  At Sure-Dry Basement Systems, we recommend the
  <a
    href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-repair-products/foundation-wall-repair/wall-anchors.html"
    >Geo-Lock™ Wall Anchor System</a
  >&nbsp;to stabilize failing foundation walls. Our contractors follow these six
  steps when installing our warrantied wall anchor system:
</p>
<div id="carousel">
  <div class="title">Warrantied Wall Anchor System Installation Steps</div>
  <ul>
    <li>
      <a href="#carousel-1"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
    <li>
      <a href="#carousel-2"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
    <li>
      <a href="#carousel-3"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
    <li>
      <a href="#carousel-4"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
    <li>
      <a href="#carousel-5"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
    <li>
      <a href="#carousel-6"
        ><img
          src="https://www.suredrybasements.com/core/images/toolbox/carousel-nub.png"
          alt="next"
      /></a>
    </li>
  </ul>
  <div class="tab-nav">
    <a onclick="return prevTab();" href="#"
      ><img
        src="https://www.suredrybasements.com/core/images/toolbox/carousel-back-arrow.png"
        alt=""
    /></a>
    <a onclick="return nextTab();" href="#"
      ><img
        src="https://www.suredrybasements.com/core/images/toolbox/carousel-forward-arrow.png"
        alt=""
    /></a>
  </div>
  <div id="carousel-1">
    <a
      class="right lightbox"
      title="Auguring a hole in the earth"
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/augur-earth-anchor-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/augur-earth-anchor-thm.jpg"
        alt="Auguring a hole in the earth for a foundation repair in Menasha"
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/augur-earth-anchor-lg.jpg"
    /></a>
    <h2 class="sub1">Digging holes for the earth anchors</h2>
    <p>
      Before the installation, earth anchor locations will be determined to
      maximize system effectiveness. When the
      <a
        href="https://www.suredrybasements.com/foundation-repair-wisconsin.html"
        >foundation contractors</a
      >
      arrive, their proposal will show the location of each earth anchor in the
      yard outside your house.
    </p>
    <p>
      At the beginning of each earth anchor installation, sod is carefully
      removed from your lawn and placed aside for later. A sheet is laid down to
      help protect your lawn and landscaping, and an earth anchor hole is made
      using a power auger.
    </p>
  </div>
  <div id="carousel-2">
    <a
      class="right lightbox"
      title="Coring a small hole in the foundation wall."
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-prepare-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-prepare-thm.jpg"
        alt="Coring a one inch hole in a foundation wall to allow for the earth anchor rod to pass through."
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/foundation-wall-prepare-lg.jpg"
    /></a>
    <h2 class="sub2">Preparing the foundation wall</h2>
    <p>
      Once the hole has been excavated, we will core a small hole through your
      basement wall. Then, a steel anchor rod will be driven through the wall
      and soil, extending through a hole in the center of the earth anchor.
    </p>
    <p>
      One way our wall anchor system is superior to other methods is that the
      hole created in the foundation wall is very small - 1" in diameter. Other
      methods may require a large hole or section of concrete block to be
      removed during installation.
    </p>
  </div>
  <div id="carousel-3">
    <a
      class="right lightbox"
      title="Attaching the foundation earth anchor."
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/install-wall-anchor-system-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/install-wall-anchor-system-thm.jpg"
        alt="Steel earth anchor assembly installation in Marshfield."
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/install-wall-anchor-system-lg.jpg"
    /></a>
    <h2 class="sub3">Attaching the earth anchor</h2>
    <p>
      After securing the end of each anchor rod to its earth anchor, these
      assemblies are buried in the ground, using soil removed earlier. To resist
      corrosion damage, each of our earth anchor systems is designed with
      <span
        class="tip"
        title="In this case, our steel has been hot-dipped galvanized, or triple-coated, in zinc per ASTM #A123"
        >galvanized steel</span
      >.
    </p>
    <p>
      Each of the Geo-Lock™ Earth Anchors we install includes a 25-year warranty
      against manufacturing defects, as well as our own in-house quality and
      performance warranty.
    </p>
  </div>
  <div id="carousel-4">
    <a
      class="right lightbox"
      title="Mounting the wall plate"
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/mount-wall-plate-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/mount-wall-plate-thm.jpg"
        alt="Mounting a foundation wall plate for an earth anchor installation in De Pere."
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/mount-wall-plate-lg.jpg"
    /></a>
    <h2 class="sub4">Mounting the wall plate</h2>
    <p>
      Once the earth anchors have been installed, our foundation repair experts
      will mount a wall plate over each anchor rod end that protrudes from the
      basement wall. Screwing a large nut to the threaded end of the anchor rod
      secures each wall plate and stabilizes the wall as the nut is tightened.
    </p>
    <p>
      If your wall anchors are being installed in a finished basement, be sure
      to ask us about our Hide-A-Way® Wall Anchor Covers, which will help you
      conveniently conceal your wall anchor access points.
    </p>
  </div>
  <div id="carousel-5">
    <a
      class="right lightbox"
      title="Restoring the Landscaping"
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/restore-landscaping-foundation-anchor-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/restore-landscaping-foundation-anchor-thm.jpg"
        alt="Restoring the landscaping by replacing removed sod on the ground for a Wisconsin Rapids home."
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/restore-landscaping-foundation-anchor-lg.jpg"
    /></a>
    <h2 class="sub5">Restoring the landscaping</h2>
    <p>
      At Sure-Dry Basement Systems, we take pride in leaving each job clean,
      neat, and free of damage to existing landscaping. As part of our cleanup
      process, we fill holes completely with dirt saved earlier and tamp filled
      areas to ensure that depressed areas will not be created as the soils
      settle over time.
    </p>
    <p>
      We will also replace all sod, carefully grooming it with a rake to help it
      to blend in with surrounding grass for a seamless landscaping restoration.
    </p>
  </div>
  <div id="carousel-6">
    <a
      class="right lightbox"
      title="Tightening the wall anchor"
      href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/tighten-wall-anchor-lg.jpg"
      ><img
        class="border"
        src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/tighten-wall-anchor-thm.jpg"
        alt="Attempting to straighten a bowed foundation wall by straightening a wall anchor system in a Stevens Point home."
        width="200px"
        height="150px;"
        data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/tighten-wall-anchor-lg.jpg"
    /></a>
    <h2 class="sub6">Tightening wall anchors</h2>
    <p>
      Geo-Lock™ Wall Anchors do more than just stop the inward movement of your
      foundation walls -- they also provide the opportunity to straighten your
      walls over time.
    </p>
    <p>
      Eventually, your walls can be significantly repaired, or even returned
      completely to their original position. This is a powerful way to restore
      value to your home and return your home to looking solid, stable, and
      attractive -- both for you and for prospective home buyers.
    </p>
  </div>
</div>
<h2>When foundation wall anchors won't work</h2>
<div class="border right breakout bg clear">
  <a
    class="lightbox"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/powerbrace-i-beam-system-lg.jpg"
    ><img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/powerbrace-i-beam-system-thm.jpg"
      alt="Graphic render of an installed i-beam system home."
      width="300"
      height="214"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/bowing-walls/powerbrace-i-beam-system-lg.jpg"
  /></a>
  <p>
    Saving a wall with the PowerBrace™ system. This innovative system stabilizes
    bowing walls and can even straighten walls over time.
  </p>
</div>
<p>
  In some cases, a wall anchor system can't be used to repair a bowing wall
  because the yard outside the house isn't accessible. When we at Sure-Dry
  Basement Systems encounter this kind of problem, we suggest that you install
  our PowerBrace™ Foundation Wall System or CarbonArmor® Wall Reinforcing
  System.
</p>
<h3>The PowerBrace™ System</h3>
<p>
  The PowerBrace™ is a patented foundation wall repair system designed to
  stabilize failing basement walls and also allow for potential straightening
  over time. This product is a great option when access to the yard outside of
  the home is not possible and bowing, buckling wall problems need to be solved.
</p>
<p>
  The PowerBrace™ is an I-beam system that has several advantages over
  traditional "old school" systems. This includes its rust-resistant zinc
  coating and a design that makes it possible not only to stabilize bowing
  walls, but also to straighten these walls over a period of time. Installation
  of a PowerBrace™ system can be conducted quickly in your home, with no
  disruption to your lawn, gardens, foliage, or other landscaping.
</p>
<h3>The EverBrace™ System</h3>
<p>
  EverBrace™ can be used for even the most severe cases of foundation wall
  failure. If walls have buckled, bowed, or cracked over time, EverBrace can
  transfer the load from the failing wall to a new support structure. Steel
  beams are attached to floor joists, and steel panels span between them for
  further support. Voids are then filled by an injection of rigid foam behind
  the steel panels.
</p>
<div class="border breakout right bg">
  <img
    src="https://www.suredrybasements.com/core/images/foundation-repair/bowing-walls/carbonarmor-wall-reinforcing.jpg"
    alt="CarbonArmor® carbon fiber foundation wall reinforcement"
    width=""
    height=""
  />
  <p>
    <strong>Strips add strength.</strong> When epoxied to the foundation wall,
    strips of carbon fiber fabric provide reinforcement that's 10 times stronger
    than steel.
  </p>
</div>
<h3>
  CarbonArmor® stabilizes cracked &amp; bowing foundation walls with high-tech
  carbon fiber
</h3>
<p>
  When soil pressure causes a foundation wall to bow inward and crack, one
  solution is to stabilize and strengthen the wall using CarbonArmor® bracing
  technology. The CarbonArmor® Wall Reinforcing System relies on the exceptional
  strength of carbon fiber fabric – 10 times stronger than steel.
</p>
<p>
  Concrete is strong in compression, enabling a foundation wall to withstand
  extreme downward pressure. But concrete is weak in tension. A foundation wall
  can't stretch or bend in response to sideways soil pressure, so cracking and
  bowing problems sometimes develop.
</p>
<p>
  When installed against a foundation wall with special structural epoxy,
  CarbonArmor® fabric is exceptionally strong in tension. This reinforcement
  treatment enables a cracked or bowed foundation to withstand soil pressure
  without sustaining further damage. CarbonArmor® repairs can be made quickly
  and affordably, and this low-profile repair is easily hidden with a coat of
  paint.
</p>
<h2 class="clear">Looking for foundation wall repair experts in Wisconsin?</h2>
<p>
  At Sure-Dry Basement Systems, we're proud to provide warrantied solutions that
  will permanently solve issues with bowing, buckling foundation walls. We
  provide free, no-obligation
  <a href="https://www.suredrybasements.com/free-estimate.html" rel="nofollow"
    >foundation wall repair estimates</a
  >
  to homeowners throughout our Wisconsin service area. Each estimate is made in
  person, on site, and is presented in writing.
</p>
<p>
  Our service area includes Green Bay, Appleton, Oshkosh, Sheboygan, Fond Du
  Lac, Wausau, Manitowoc, Neenah, Stevens Point, Wisconsin Rapids and throughout
  the surrounding areas. Call or e-mail us today!
</p>
<div class="related_pages_wrapper">
  <div class="related_pages">
    <a
      class="button right"
      href="https://www.suredrybasements.com/free-estimate.html"
      >Get a FREE Quote!</a
    >
    <div class="title">Related Pages</div>
    <ul>
      <li>
        <a
          href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems/foundation-walls/wall-crack.html"
          >Foundation Wall Cracks</a
        >
      </li>
      <li>
        <a
          href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems/foundation-walls/collapsing-retaining-wall.html"
          >Collapsing Retaining Walls</a
        >
      </li>
      <li>
        <a
          href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems.html"
          >Foundation Problems</a
        >
      </li>
    </ul>
  </div>
</div>
<p class="clear page_bottom_estimate_callout">
  Looking for a price? Get a no cost, no obligation
  <a href="https://www.suredrybasements.com/free-estimate.html">free estimate</a
  >.
</p>
