<div id="content_helper" style="display: none"></div>
<h1>Sinking &amp; Settling Concrete Floor Slab Repair in Greater Green Bay</h1>
<h2 class="byline">
  Causes &amp; repair solutions for cracked, sinking concrete floors
</h2>
<div class="border right breakout bg clear">
  <a
    class="lightbox"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-pier-system-lg.jpg"
    ><img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-pier-system-thm.jpg"
      alt="diagram of a repaired concrete slab floor"
      width="300"
      height="214"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-pier-system-lg.jpg"
      class="medium-zoom-image"
  /></a>
  <p>
    Concrete slab piers can extend deep below the floor to reach competent
    supporting soils and permanently stabilize the floor.
  </p>
</div>
<p>
  Do you have a concrete slab floor that is showing signs of sinking, sagging,
  or settling? Are the walls separating from the floor below or ceiling above?
</p>
<p>
  IF you have a problem like this in your home, you could have a sinking or
  settling concrete floor slab. This problem can lead to cracks in floors and
  walls, uneven surfaces, and a weakened foundation.
</p>
<p>
  Luckily, the foundation repair experts at Sure-Dry Basement Systems can help
  you solve this problem permanently! We provide a complete foundation repair
  solutions in Green Bay, Appleton, Oshkosh and nearby areas in Wisconsin. Call
  us today to get a free estimate.
</p>
<div class="center">
  <a
    class="button large"
    href="https://www.suredrybasements.com/free-estimate.html"
    >Get a FREE Quote!</a
  >
</div>
<div
  class="center bg clear sectionhighlight problems-grid"
  id="slab-settle-grid"
>
  <h2 class="left">Signs of slab settlement</h2>
  <p class="clear" align="left">
    When a floor slab settles, the damage can manifest itself in many ways.
    Along with cracks in the concrete, the floors can separate from the walls as
    they sink downwards. Alternatively, the interior wall may be pulled down
    with the floor, instead separating from the ceiling. Walls can also pull
    away from other walls, and interior wall cracks can form -- commonly off the
    corners of interior doors.
  </p>
  <p align="left">
    <span class="left" style="font-size: 10px; line-height: 12px"
      >(Click each photo to enlarge.)</span
    >
  </p>
  <div class="clear"></div>
  <a
    class="lightbox"
    title="Cracks in a slab floor"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-trip-hazard-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-trip-hazard-thm.jpg"
      alt="Slab floor cracks showing in a Waupaca home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-trip-hazard-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Significant slab floor cracking"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-slab-issue-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-slab-issue-thm.jpg"
      alt="Large slab floor cracks in a Mosinee home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-crack-slab-issue-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Separation of the floor and wall due to slab settlement"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-floor-separating-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-floor-separating-thm.jpg"
      alt="A floor slab separating from the wall in a Two Rivers home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/slab-floor-separating-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Wall/Slab Floor Separation"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-separation-slab-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-separation-slab-thm.jpg"
      alt="A partition wall separating from the floor in a Shawano home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/floor-separation-slab-lg.jpg"
  /></a>
  <br />
  <a
    class="lightbox"
    title="A sinking floor showing a large gap"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/sinking-slab-floor-problem-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/sinking-slab-floor-problem-thm.jpg"
      alt="a sinking floor leaving a large gap between the wall and floor in a Sturgeon Bay home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/sinking-slab-floor-problem-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="A sinking floor leading to the separation of the ceiling and walls"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/ceiling-pulling-down-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/ceiling-pulling-down-thm.jpg"
      alt="The ceiling and wall separating as the wall sinks with the slab floor in a Merrill home"
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/ceiling-pulling-down-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Walls separating from one another"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/walls-pulling-away-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/walls-pulling-away-thm.jpg"
      alt="partition walls being pulled away from the foundation walls in a Rhinelander home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/walls-pulling-away-lg.jpg"
  /></a>
  <a
    class="lightbox"
    title="Wall cracks along a doorway"
    href="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/door-crack-settlement-lg.jpg"
    ><img
      class="border medium-zoom-image"
      style="margin: 20px"
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/door-crack-settlement-thm.jpg"
      alt="wall cracks along a doorway in a Kaukauna home."
      width="100px"
      height="100px;"
      data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/door-crack-settlement-lg.jpg"
  /></a>
</div>
<h2>What causes a concrete floor slab to settle?</h2>
<p>
  When a concrete floor settles, it can mean serious damage to your home. The
  causes of floor slab settlement are almost always due to the soils underneath
  being unable to support the weight of the concrete. They often accompany other
  <a
    href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems.html"
    >foundation problems</a
  >
  in your home.
</p>
<p>
  The three most common causes of settling concrete floor slabs are as follows:
</p>
<p>
  <span style="font-size: 10px; line-height: 12px"
    >(Click for more information.)</span
  >
</p>
<div align="center">
  <table
    class="table table-1-cell slab-settle-causes"
    border="0"
    cellpadding="0"
    align="center"
  >
    <tbody>
      <tr>
        <td align="center" valign="top" width="152">
          <a class="colorlink" href="#drysoil" rel="systems"
            ><img
              style="border: 1px solid #a9adac"
              src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/dry-clay-soil-thm.jpg"
              alt="Dry, cracking clay soils"
              data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/dry-clay-soil-lg.jpg"
              class="medium-zoom-image"
          /></a>
          <p>Drying/Shrinking Of Soils Under The Slab</p>
        </td>
        <td align="center" valign="top" width="152">
          <a class="colorlink" href="#washout" rel="systems"
            ><img
              style="border: 1px solid #a9adac"
              src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-erosion-thm.jpg"
              alt="soil erosion"
              data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-erosion-lg.jpg"
              class="medium-zoom-image"
          /></a>
          <p>Washout Of Soil Underneath The Slab</p>
        </td>
        <td align="center" valign="top" width="152">
          <a class="colorlink" href="#poorcompaction" rel="systems"
            ><img
              style="border: 1px solid #a9adac"
              src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-compaction-thm.jpg"
              alt="A backhoe excavating a foundation"
              data-zoom-src="https://www.suredrybasements.comhttps://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-compaction-lg.jpg"
              class="medium-zoom-image"
          /></a>
          <p>Poor Compaction Of Foundation Fill Soils</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Ways to repair floor cracks</h2>
<p>
  Supportworks dealers have many tools at their disposal to reverse concrete
  slab settlement and restore the good condition of concrete floors. Here are
  the many ways Sure-Dry Basement Systems might choose to resolve your floor
  crack:
</p>
<ul class="checks">
  <li>
    <strong>PolyLevel:</strong> PolyLevel's primary application is to lift
    concrete slabs in a long-lasting, minimally disruptive method, and PolyLevel
    is extremely effective at getting rid of cracks in the floor. PolyLevel is
    the most popular choice for this type of problem.
  </li>
  <li>
    <strong>Push piers:</strong> Push piers reach greater depths than any other
    type of solution, which can sometimes come in handy for restoring concrete
    slabs and getting rid of cracks in the process.
  </li>
  <li>
    <strong>Helical piers:</strong> Helical piers are suitable for both light
    and heavy loads, which can make them appropriate for concrete slab
    settlement and floor crack repair.
  </li>
  <li>
    <strong>Slab piers:</strong> Occasionally it might be prudent to use
    concrete slab piers and brackets to transfer the weight of the slab to
    load-bearing soil and lift and level the concrete.
  </li>
</ul>
<h2 class="clear">Looking for foundation slab repair contractors In WI?</h2>
<p>
  At Sure-Dry Basement Systems, we provide proven solutions for concrete slab
  floor leveling -- as well as other foundation repair solutions -- to
  homeowners throughout Wisconsin. We provide each of our customers with a free,
  no obligation
  <a href="https://www.suredrybasements.com/free-estimate.html"
    >slab repair quote</a
  >, in writing, before any work is done. To schedule your appointment, call or
  e-mail us today!
</p>
<p>
  We proudly offer all our foundation repair services in Green Bay, Appleton,
  Oshkosh, Sheboygan, Fond Du Lac, Wausau, Manitowoc, Neenah, Stevens Point,
  Wisconsin Rapids and throughout the surrounding areas.
</p>
<div class="related_pages_wrapper">
  <div class="related_pages">
    <a
      class="button right"
      href="https://www.suredrybasements.com/free-estimate.html"
      >Get a FREE Quote!</a
    >
    <div class="title">Related Pages</div>
    <ul>
      <li>
        <a
          href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems/floor-problems.html"
          >Foundation Floor Problems</a
        >
      </li>
      <li>
        <a
          href="https://www.suredrybasements.com/foundation-repair-wisconsin/foundation-problems/floor-problems/foundation-heave.html"
          >Foundation Heave</a
        >&nbsp;
      </li>
    </ul>
  </div>
</div>
<ul class="checks">
  <ul class="checks"></ul>
</ul>
<div style="display: none">
  <div id="drysoil" class="popupimages">
    <div class="popupimagetext">
      <h3>Drying &amp; Shrinking of the Soil Under the Slab</h3>
      <p>
        HVAC (Heating, Venting, and Air Conditioning) systems may be installed
        beneath the floor slab. Over time, the ductwork can leak air, which can
        dry out the soil.
      </p>
      <p>
        As the soil dries and shrinks, gaps form under the floor slab, creating
        voids. Because the soil no longer supports the floor slab, the floor
        begins to crack and sink into the voids.
      </p>
    </div>
    <img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/dry-clay-soil-lg.jpg"
      alt="street creep symptoms in a driveway in Plymouth"
    />
  </div>
  <div id="washout" class="popupimages">
    <div class="popupimagetext">
      <h3>Washout of Soil Under the Slab</h3>
      <p>
        This is usually caused by plumbing leaks. If the plumbing leak is severe
        and there is a path for the water to flow through, it can wash soil out
        from under the slab.
      </p>
      <p>
        With a void underneath the floor, there's nothing supporting the
        concrete slab anymore. In time, it begins to crack and sink downwards.
      </p>
    </div>
    <img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-erosion-lg.jpg"
      alt="garage walls cracking due to street creep"
    />
  </div>
  <div id="poorcompaction" class="popupimages">
    <div class="popupimagetext">
      <h3>Poor Compaction of Fill Soil</h3>
      <p>
        During construction of a new home, layers of soil are commonly moved
        around or spread out to get to the desired grade level. When the home is
        built, footings may be deepened to extend below weak fill soils and
        avoid a foundation settlement issue.
      </p>
      <p>
        The slab, however, remains on the fill soils. If the fill was poorly
        compacted, the fill soil compresses and settles, and a void is formed
        under the slab. In time, the slab cracks, breaks, and settles into the
        void.
      </p>
    </div>
    <img
      src="https://www.suredrybasements.com/core/images/foundation-repair/foundation-problems/floor-crack/soil-compaction-lg.jpg"
      alt="foundation wall cracks due to street creep in Plymouth"
    />
  </div>
</div>
<p class="clear page_bottom_estimate_callout">
  Looking for a price? Get a no cost, no obligation
  <a href="https://www.suredrybasements.com/free-estimate.html">free estimate</a
  >.
</p>
